@tailwind components;
@tailwind utilities;

:root {
  --nextui--popoverBorderWeight: 0px;
  --nextui-borderWeights-light: 1px;
  --nextui-borderWeights-normal: 2px;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scroll-snap-strictness: proximity;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
}
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}
.dark-theme {
  --scrollbar-color: #ffffff63;

  --color-select-input: #110f14;
  --color-on-select-input: #bdc1c6;
  --color-select-input-placeholder: rgb(145, 145, 145);
  --color-select-input-border: #1d1f20;
  --color-select-input-disabled: rgb(145, 145, 145);

  --color-select-input-error: rgba(255, 0, 0, 0.5);
  --color-select-input-icon: #757b80;

  --color-select-chip: #303134;
  --color-select-chip-icon: #757b80;
  --color-select-chip-border: transparent;
  --color-on-select-chip: #bdc1c6;

  --color-select-menu-border: #1d1f20;
  --color-select-menu: #110f14;
  --color-select-menu-group: grey;
  --color-on-select-menu-item: #bdc1c6;
  --select-border-radius: 4px;

  --color-select-menu-item-active: #303134;
  --color-on-select-menu-item-active: #bdc1c6;

  --color-select-menu-item-selected: #2684ff;
  --color-on-select-menu-item-selected: #0070f3;

  --nextui-colors-gray50: #110f14;
}
.light-theme {
  --nextui-colors-accents1: #f0f3f9;
  --nextui-colors-gray50: #ffffff;
  --nextui-colors-gray100: #dfe1e7;
  --scrollbar-color: #1c174a78;
  --color-select-input: white;
  --color-on-select-input: rgb(51, 51, 51);
  --color-select-input-placeholder: rgb(145, 145, 145);
  --color-select-input-border: rgb(204, 204, 204);
  --color-select-input-disabled: rgb(145, 145, 145);

  --color-select-input-error: rgba(255, 0, 0, 0.5);
  --color-select-input-icon: rgb(145, 145, 145);

  --color-select-chip: rgb(230, 230, 230);
  --color-select-chip-icon: rgb(145, 145, 145);
  --color-select-chip-border: transparent;
  --color-on-select-chip: rgb(51, 51, 51);

  --color-select-menu-border: rgb(204, 204, 204);
  --color-select-menu: white;
  --color-select-menu-group: grey;
  --color-on-select-menu-item: rgb(51, 51, 51);
  --select-border-radius: 4px;

  --color-select-menu-item-active: #deebff;
  --color-on-select-menu-item-active: rgb(51, 51, 51);

  --color-select-menu-item-selected: #2684ff;
  --color-on-select-menu-item-selected: #0070f3;
}
.rdk-portal {
  z-index: 99999999999 !important;
}
.SelectMenu-module_menu__I2a4- .SelectMenu-module_option__3Ns1t {
  background: var(--color-select-menu) !important;
}
/* Fixes */
/* ---modal */

.nextui-c-blxbWP {
  z-index: 9999998 !important;
}

.nextui-c-csEDlc {
  z-index: 9999999 !important;
}
/* table sort arrow pos */
.nextui-c-cqpNQI-ihOkgrg-css {
  right: 0;
}
.nextui-c-PJLV {
  border-width: 0px !important;
}
.nextui-c-hWZRae-bVtBym-bordered-false {
  border-width: 0px !important;
}
.nextui-c-kltynt-bVtBym-bordered-false {
  border-width: 0px !important;
}
.nextui-c-fFabR-krOtXB-borderWeight-normal .nextui-avatar-img {
  border-width: 0px !important;
}
.nextui-c-cVVQUL.nextui-popover-content-enter {
  z-index:9999999999999 !important;
}
/* input background */
/* .nextui-c-eXOOPO {
  background:transparent;
} */

.reaselct-menu-item:hover{
  /* border-radius:6px; */
  background:rgba(187, 183, 244, 0.167) !important;
  transition: all 250ms ease-out;
}
#nextui-tooltip {
  z-index:999999 !important;
}
.nextui-tooltip-content {
  z-index:999999 !important;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.scrollbar {
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 0.2em;
  height: 0.2em;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 50px;
}

.hide-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 50px;
}
.hide-scrollbar::-webkit-scrollbar {
  width: 0.2em;
  height: 0.2em;
}

h1 {
  margin: 0;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h2 {
  margin: 0;
  letter-spacing: 2px;
}

h3 {
  margin: 0;
  font-weight: 400;
  font-size: 1.2rem;
}
h4 {
  margin: 0;
  opacity: 0.5;
  font-size: 0.75rem;
  color: var(--nextui-colors-text) !important;
}
h5 {
  margin: 0;
  opacity: 0.5;
  font-size: 0.8rem;
}
h6 {
  margin: 0;
  font-size: 0.75rem;
}

p {
  margin: 0;
}

.small-subtext {
  font-size: 0.7rem !important;
}
.letter-spacing-1 {
  letter-spacing: 1px;
}
.main-bg {
  background-image: url(/bubbles.png);
  background-size: cover;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  transition: 200ms ease-out;
}
/* Styling */

.text-color-primary {
  color: var(--nextui-colors-primary);
}
.text-color-secondary {
  color: var(--nextui-colors-secondary);
}
.text-color-warning {
  color: var(--nextui-colors-warning);
}
.text-color-success {
  color: var(--nextui-colors-success);
}
.text-color-error {
  color: var(--nextui-colors-error) !important;
}
.bg-color-primary {
  background: var(--nextui-colors-primary);
}
.bg-color-secondary {
  background: var(--nextui-colors-secondary);
}
.bg-color-warning {
  background: var(--nextui-colors-warning);
}
.bg-color-success {
  background: var(--nextui-colors-success);
}
.bg-color-error {
  background: var(--nextui-colors-error);
}

.table-column-header {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 0.65rem;
}
.sidebar-theme-dark {
  background-image: linear-gradient(to bottom, #0f1018ba, #8383830f);
  backdrop-filter: blur(28px);
}
.sidebar-theme-light {
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), #ffffff9e);
  backdrop-filter: blur(20px);
}
.panel-theme-dark {
  background-image: linear-gradient(to bottom, #3837400d, #8383830f);
  backdrop-filter: blur(28px);
}
.panel-theme-sidebar-dark {
  background-image: linear-gradient(to bottom, #070708, #2f303e47);
  backdrop-filter: blur(28px);
}
.panel-theme-light {
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), #ffffff9e);
  backdrop-filter: blur(20px);
}
.panel-theme-sidebar-light {
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), #ffffff9e);
  backdrop-filter: blur(20px);
}
.panel-flat-dark {
  background: #8383830f;
  backdrop-filter: blur(14px);
}
.panel-flat-noblur-dark {
  background: #8383830f;
}
.panel-flat-light {
  background: #ffffff;
  backdrop-filter: blur(14px);
}
.panel-flat-noblur-light {
  background: #ffffff;
}
.panel-flatter-dark {
  background: #110f14;
}
.panel-flatter-light {
  background: #ffffff;
  backdrop-filter: blur(14px);
}
.card-overlay-bg {
  background: #ffffff30;
}
.dark-shadow {
  box-shadow: 1px 1px 15px 4px #00000045, 0 4px 6px -2px rgba(19, 15, 22, 0.26);
}
.light-shadow {
  box-shadow: 0px 3px 6px -3px #97a3c59f, 0px 4px 14px 1px #abb9d662,
    0px 0px 18px 1px #adbcd675;
}

.texture-bg {
  background-image: url('/curved15.jpeg');
}
.text-clip-gradient {
  /* Fallback: Set a background color. */
  background-color: rgb(0, 0, 0);
  /* Create the gradient. */
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

@supports (-moz-appearance: none) {
  .main-bg {
    background-image: none;
    background-size: cover;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    transition: 200ms ease-out;
  }
  .sidebar-theme-dark {
    background-image: linear-gradient(to bottom, #0f1018, #040404);
    backdrop-filter: blur(28px);
  }
  .sidebar-theme-light {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), #fff);
    backdrop-filter: blur(20px);
  }
  .panel-theme-dark {
    background-image: linear-gradient(to bottom, #3837400d, #8383830f);
    backdrop-filter: blur(28px);
  }
  .panel-theme-light {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), #fff);
    backdrop-filter: blur(20px);
  }
  .panel-flat-dark {
    background: #8383830f;
    backdrop-filter: blur(14px);
  }
  .panel-flat-light {
    background: #ffffff;
    backdrop-filter: blur(14px);
  }
  .panel-flatter-dark {
    background: #110f14;
  }
  .panel-flatter-light {
    background: #ffffff;
    backdrop-filter: blur(14px);
  }
}
.main-bg-dark {
  background-color: black;
}
.main-bg-light {
  background-color: white;
}
.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.z-3 {
  z-index: 3;
}
.z-4 {
  z-index: 4;
}

.blur-screen {
  backdrop-filter: blur(170px);
  position: fixed;
  display: block;
  top: 0;
  left: 0;
}
.blur-screen-dark {
  background-image: linear-gradient(15deg, #040508, #00000069);
}
.blur-screen-light {
  background-image: linear-gradient(179deg, #f8f8f8, #ffffff85);
}

.container-main {
  padding: 0 !important;
}

.sidebar-logo-height {
  height:4.28rem;
}

.content-main {
  display: flex;
  height: 100%;
  width: 100%;
  transition: 200ms ease-out;
}
.content-dark {
  color: white;
}
.content-light {
  color: #0c083d;
}

.icon-rotate {
  transform: rotate(90deg);
}
.hidden-backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: transparent;
  left: 0;
  top: 0;
  z-index: -1;
}
.hidden-backdrop-cell {
  position: fixed;
  width: 100%;
  height: 100%;
  background: transparent;
  left: 0;
  top: 0;
  z-index: 1;
}
.menu-bottom-fade {
  background-image:linear-gradient(to top, #000000, #000, #00000052, #00000014);
}
/* Gradients */
.top-border-flair {
  position: absolute;
  top: 30px;
  width: 65px;
  border-radius: 6px;
  height: 4px;
  z-index: 20;
}
.bottom-border-flair {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0px;
  left: 1px;
  z-index: 20;
}
.search-border-flair {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0px;
  left: -1px;
}

.top2-border-flair {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 1px;
}

.bubble-1 {
  width: 30%;
  height: 20%;
}
.bubble-2 {
  width: 30%;
  height: 20%;
}
.bubble-3 {
  width: 30%;
  height: 20%;
}
.bubble-4 {
  width: 30%;
  height: 20%;
}

.pink__gradient {
  background: linear-gradient(90deg, #f5c5f3 0%, #fc67fa 100%);
  filter: blur(160px);
}
.blue__gradient {
  background: linear-gradient(90deg, #10a8cb 0%, #fc67fa 100%);
  filter: blur(200px);
}
.purple_blue__gradient {
  background: linear-gradient(90deg, #6910cbfc 0%, #67c5fc 100%);
  filter: blur(100px);
}
.orange__gradient {
  background: linear-gradient(90deg, #cb5510 0%, #ff5050 100%);
  filter: blur(100px);
}

.yellow-to-pink-gradient-1 {
  background-image: -webkit-linear-gradient(
    to right,
    #db36a4,
    #f7ff00
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(
    to right,
    #db36a4,
    #f7ff00
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100% 200%;
}
.orange-gradient-1 {
  background-image: -webkit-linear-gradient(
    to right,
    #ffa93b,
    #ff2525
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(
    to right,
    #ffa93b,
    #ff2525
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.orange-gradient-top-1 {
  background-image: -webkit-linear-gradient(
    to bottom,
    #ffa93b,
    #ff2525
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(
    to bottom,
    #ffa93b,
    #ff2525
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.orange-reverse-gradient-1 {
  background-image: -webkit-linear-gradient(
    to left,
    #ffa93b,
    #ff2525
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(
    to left,
    #ffa93b,
    #ff2525
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100% 200%;
}
.pink-gradient-1 {
  background-image: -webkit-linear-gradient(
    to left,
    #fc6767,
    #ec008c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(
    to left,
    #fc6767,
    #ec008c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100% 200%;
}
.green-gradient-1 {
  background-image: -webkit-linear-gradient(
    to right,
    #16ca77 0%,
    #46c389 50%,
    #00947e 80%
  );
  background-image: linear-gradient(
    to right,
    #16ca77 0%,
    #46c389 50%,
    #00947e 80%
  );
  background-size: 100% 200%;
}
.green-gradient-2 {
  background-image: -webkit-linear-gradient(
    to bottom,
    #2bd2ff 0%,
    #46c389 50%,
    #2bff88 80%
  );
  background-image: linear-gradient(
    to bottom,
    #2bd2ff 0%,
    #46c389 50%,
    #2bff88 80%
  );
  background-size: 100% 200%;
}
.purple-to-green-gradient-1 {
  background-image: -webkit-linear-gradient(
    to left,
    #0df1b2,
    #3f33f8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to left, #0df1b2, #3f33f8);
  background-size: 100% 200%;
}
.purple-to-green-gradient-top-1 {
  background-image: -webkit-linear-gradient(
    to top,
    #0df1b2,
    #3f33f8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to top, #0df1b2, #3f33f8);
  background-size: 100% 200%;
}
.pink-to-blue-gradient-1 {
  background-image: -webkit-linear-gradient(
    to right,
    #ec008c,
    #16bffd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(
    to right,
    #ec008c,
    #16bffd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100% 200%;
}
.pink-to-blue-gradient-top-1 {
  background: rgb(92, 5, 181);
  background: -moz-linear-gradient(
    3deg,
    rgba(92, 5, 181, 1) 11%,
    rgba(22, 140, 240, 1) 54%,
    rgba(10, 238, 209, 1) 100%
  );
  background: -webkit-linear-gradient(
    3deg,
    rgba(92, 5, 181, 1) 11%,
    rgba(22, 140, 240, 1) 54%,
    rgba(10, 238, 209, 1) 100%
  );
  background: linear-gradient(
    3deg,
    rgba(92, 5, 181, 1) 11%,
    rgba(22, 140, 240, 1) 54%,
    rgba(10, 238, 209, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5c05b5",endColorstr="#0aeed1",GradientType=1);
}
.blue-gradient-1 {
  background-image: -webkit-linear-gradient(
    to right,
    #5b86e5,
    #36d1dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(
    to right,
    #5b86e5,
    #36d1dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100% 200%;
}
.soft-blue-to-soft-purple-gradient-1 {
  background-image: -webkit-linear-gradient(
    to right,
    #07adfb,
    #6e6cf1
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(
    to right,
    #07adfb,
    #6e6cf1
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100% 200%;
}
.peach-gradient-1 {
  background-image: -webkit-linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(
    to right,
    #ff5e62,
    #ff9966
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100% 200%;
}
.peach-gradient-top-1 {
  background-image: -webkit-linear-gradient(
    to top,
    #ff5e62,
    #ff9966
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(
    to top,
    #ff5e62,
    #ff9966
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100% 200%;
}
.blood-orange-gradient-1 {
  background-image: -webkit-linear-gradient(
    to left,
    #bd3f32,
    #cb356b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(
    to left,
    #bd3f32,
    #cb356b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100% 200%;
}
.pink-to-orange-gradient-1 {
  background-image: linear-gradient(
    to right,
    rgba(255, 37, 117, 1) 0%,
    rgba(241, 147, 55, 1) 53.4%,
    rgba(250, 56, 56, 1) 99.5%
  );
  background-size: 100% 200%;
}
.purple-to-peach-gradient-1 {
  background-image: -webkit-linear-gradient(
    to bottom,
    #f08358,
    #e05f6c,
    #3a1c71
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(
    to bottom,
    #f08358,
    #e05f6c,
    #3a1c71
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100% 200%;
}
.purple-to-blue-gradient-1 {
  background-image: -webkit-linear-gradient(
    to bottom,
    #58cdf0,
    #5f81e0,
    #3a1c71
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(
    to bottom,
    #58cdf0,
    #5f81e0,
    #3a1c71
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100% 200%;
}
.grand-blue-gradient-1 {
  background-image: -webkit-linear-gradient(
    to right,
    #1cb5e0,
    #816cd6,
    #010148
  );
  background-image: linear-gradient(to right, #1cb5e0, #816cd6, #010148);
  background-size: 100% 200%;
}
.celestial-gradient-1 {
  background-image: -webkit-linear-gradient(
    to right,
    #1d2671,
    #c33764
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(
    to right,
    #1d2671,
    #c33764
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100% 200%;
}
.green-to-orange-gradient-1 {
  background-image: -webkit-linear-gradient(
    to left,
    #f7b733,
    #22c1c3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(
    to left,
    #f7b733,
    #22c1c3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100% 200%;
}
.grand-blue-to-orange-gradient-1 {
  background-image: -webkit-linear-gradient(
    to left,
    #f7b733,
    #1cb5e0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(
    to left,
    #f7b733,
    #1cb5e0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100% 200%;
}
.green-to-blue-gradient-2 {
  background-image: -webkit-radial-gradient(
    circle farthest-corner at 10% 20%,
    #36da7f 0%,
    #3f2efe 53.4%,
    #13a1f9 99.5%
  );
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    #36da7f 0%,
    #3f2efe 53.4%,
    #13a1f9 99.5%
  );
  background-size: 100% 200%;
}
.orange-to-green-gradient-2 {
  background-image: -webkit-radial-gradient(
    circle farthest-corner at 10% 20%,
    #fe2e70 0%,
    #fe2e70 53.4%,
    #36da7f 99.5%
  );
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    #fe2e70 0%,
    #fe2e70 53.4%,
    #36da7f 99.5%
  );
  background-size: 100% 200%;
}
.blue-to-orange-gradient-3 {
  background-image: -webkit-radial-gradient(
    circle farthest-corner at 10% 20%,
    #1cb3de 0%,
    #8c31e8 53.4%,
    #fa3b38 99.5%
  );
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    #1cb3de 0%,
    #8c31e8 53.4%,
    #fa3b38 99.5%
  );
  background-size: 100% 200%;
}
.purple-to-blue-gradient-2 {
  background-image: -webkit-radial-gradient(
    circle farthest-corner at 10% 20%,
    #a536da 0%,
    #3f2efe 53.4%,
    #13a1f9 99.5%
  );
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    #a536da 0%,
    #3f2efe 53.4%,
    #13a1f9 99.5%
  );
  background-size: 100% 200%;
}
.blue-to-orange-gradient-2 {
  background-image: -webkit-radial-gradient(
    circle farthest-corner at 10% 20%,
    #1cb3de 0%,
    #8c31e8 53.4%,
    #f4a241 99.5%
  );
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    #1cb3de 0%,
    #8c31e8 53.4%,
    #f4a241 99.5%
  );
  background-size: 100% 200%;
}
.orange-to-red-gradient-2 {
  background-image: -webkit-radial-gradient(
    circle farthest-corner at 10% 20%,
    #f1b738 0%,
    #fe2e70 53.4%,
    #fa3b38 99.5%
  );
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    #f1b738 0%,
    #fe2e70 53.4%,
    #fa3b38 99.5%
  );
  background-size: 100% 200%;
}
.orange-to-red-gradient-2-shadow {
  box-shadow: 0 10px 15px -3px #f13e6780, -1px 0px 12px 4px #f9a3363d;
}
.red-gradient-1 {
  background-image: -webkit-radial-gradient(
    circle farthest-corner at 10% 20%,
    #fe2e70 53.4%,
    #fa3b38 99.5%
  );
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    #fe2e70 53.4%,
    #fa3b38 99.5%
  );
  background-size: 100% 200%;
}

.blue-to-purple-to-cyan-gradient-1 {
  background-image: linear-gradient(90deg, #2ca7fa, #9e51f0, #1cc6db);
  background-size: 200% 200%;
}

.grey-gradient-1 {
  background-image: -webkit-linear-gradient(
    310deg,
    #47566d,
    #7d9ddc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(
    310deg,
    #47566d,
    #7d9ddc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.green-shadow {
  box-shadow: 0px 0px 10px 0.5px #41f3ca7a, 0 4px 6px -2px #00000045;
}
.blue-shadow {
  box-shadow: 0px 0px 10px 0.5px #24f5ff7a, 0 4px 6px -2px #00000045;
}
.orange-shadow {
  box-shadow: 0px 0px 10px 0.5px #f383417a, 0 4px 6px -2px #00000045;
}
.pink-shadow {
  box-shadow: 0px 0px 10px 0.5px #ed30bc75, 0 4px 6px -2px #00000045;
}
.purple-shadow {
  box-shadow: 0px 0px 10px 0.5px #7930ed7a, 0 4px 6px -2px #00000045;
}

/* Sidebar */
.sidebar-main {
  width: 3.2vw;
  height: 100vh;
}
.sidebar-open {
  width: 275px;
  transition: 150ms ease-out;
}
.sidebar-closed {
  position: absolute;
  width: 60px;
  transition: 150ms ease-out;
}
.sidebar-text-open {
  position: absolute;
  padding-left: 35px;
  /* left:60px; */
  opacity: 1;
  transition: 200ms ease-out;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.55rem;
  line-height: 1px;
  font-weight: bold;
}
.sidebar-text-size {
  font-size: 0.55rem;
  line-height: 1px;
}
.sidebar-text-closed {
  position: absolute;
  left: -150px;
  opacity: 0;
  transition: 200ms ease-out;
}
.sidebar-logo-q {
  width: 70%;
  max-height: 33px;
  max-width: 21px;
}
.sidebar-logo-full {
  width: 35%;
}
.active-path {
  filter: drop-shadow(0px 0px 7px #0ad2ff);
  /* background:#0ad2ff23; */
  transition: all 250ms ease-out;
}
.active-path-small {
  transition: all 250ms ease-out;
}
.active-icon {
  color: var(--nextui-colors-primary);
}
.active-icon-glow {
  color: var(--nextui-colors-primary);
  filter: drop-shadow(0px 0px 7px var(--nextui-colors-primary));
}
.active-path-secondary {
  filter: drop-shadow(0px 0px 17px #8d0aff);
  background: #640aff23;
  border-radius: 12px;
  transition: all 250ms ease-out;
}
.active-path-small-secondary {
  transition: all 250ms ease-out;
}
.active-icon-secondary {
  color: var(--nextui-colors-primary);
}
.active-icon-glow-secondary {
  color: var(--nextui-colors-secondary);
  filter: drop-shadow(0px 0px 17px var(--nextui-colors-secondary));
}

.border-1 {
  border-width: 1px;
}
.sidebar-dropdown .sidebar-item:not(:first-child):before {
  content: '';
  position: absolute;
  width: 1px;
  border-left: 1px dotted;
  left: 21.5px;
  height: 15px;
  top: -9px;
  opacity: 0.5;
}
/* Notification Bell */
.notif-bell-badge {
  position: absolute;
  top: 0px;
  right: -1px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: linear-gradient(to bottom, red, rgb(209, 35, 240));
}

/* Tag Basic */
.tag-text-shadow {
  text-shadow: 2px 2px 7px #00000094;
}
.tag-simple {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.tag-active {
  border: 2px solid var(--nextui-colors-primary);
}
.tag-inactive {
  opacity: 0.5;
}
.tag-basic {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  height: 14px;
  font-size: 0.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  padding: 1px 2px;
}
.tag-gray-bg {
  background: #63608b
  ; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    310deg,
    #202732,
    #63608b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    310deg,
    #202732,
    #63608b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}
.tag-green-bg {
  background: #47566d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    310deg,
    #239d38,
    #46c993
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    310deg,
    #239d38,
    #46c993
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}
.tag-blue-bg {
  background: #47566d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    310deg,
    #3e70bd,
    #005aff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    310deg,
    #3e70bd,
    #005aff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}
.tag-red-bg {
  background: #47566d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    310deg,
    #e32b2b,
    #fb30c6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    310deg,
    #e32b2b,
    #fb30c6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}
.tag-orange-bg {
  background: #47566d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    310deg,
    #955310,
    #ed7027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    310deg,
    #955310,
    #ed7027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}
.tag-subtle-bg {
  background: rgba(var(--vs-warn), 0.15); /* fallback for old browsers */
  color: rgba(var(--vs-warn), 1);
  font-weight: bold;
}
.deal-tag-red {
  background: #e83e56;
  color: white;
  text-shadow: 2px 1px 4px #1b1a28c2;
  border: none !important;
  background: linear-gradient(145deg, #cc588ee0, #e83e56);
}
.deal-tag-blue {
  background: #00b8ff;
  color: white;
  text-shadow: 2px 1px 4px #1b1a28c2;
  border: none !important;
  background: linear-gradient(145deg, #00b8ff, #005aff);
}
.deal-tag-green {
  background: #33f9a7;
  color: white;
  text-shadow: 2px 1px 4px #1b1a28c2;
  border: none !important;
  background: linear-gradient(145deg, #33f9a7, #478e22);
}
.deal-tag-orange {
  background: #f3793f;
  color: white;
  text-shadow: 2px 1px 4px #1b1a28c2;
  border: none !important;
  background: linear-gradient(145deg, orange, #f55c54);
}
.deal-tag-purple {
  background: #a558fb;
  color: white;
  text-shadow: 2px 1px 4px #1b1a28c2;
  border: none !important;
  background: linear-gradient(145deg, #a558fb, #4b33b1);
}
.deal-tag-yellow {
  background: #ffcb0e;
  color: white;
  text-shadow: 2px 1px 4px #1b1a28c2;
  border: none !important;
  background: linear-gradient(145deg, #ffcb0e, #b58210);
}
.deal-tag-pink {
  background: #e254ca;
  color: white;
  text-shadow: 2px 1px 4px #1b1a28c2;
  border: none !important;
  background: linear-gradient(145deg, #df7689, #e254ca);
}

/* NavLink Border */
.navlink-border {
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -4px;
  left: 1px;
  z-index: 20;
  filter: drop-shadow(0px 0px 4px #a90aff71);
  border-radius: 50px 50px 0 0;
}

/* .navlink-active {
  background:linear-gradient(0deg, #d515b524, transparent);
} */
/* Color Picker */
.color-picker-container {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
}

.default-text-color {
  color: var(--nextui-colors-text) !important;
}

.bg-color-red {
  background-color: #ff0000;
}
.bg-color-yellow {
  background-color: #ffff00;
}
.bg-color-orange {
  background-color: #ffa500;
}
.bg-color-blue {
  background-color: #0000ff;
}
.bg-color-lime {
  background-color: #00ff00;
}
.bg-color-fuchsia {
  background-color: #ff00ff;
}
.bg-color-purple {
  background-color: #800080;
}
.bg-color-white {
  background-color: #ffffff;
}
.bg-color-black {
  background-color: #000000;
}
.bg-color-transparent {
  background-color: transparent;
}
.bg-color-default {
  background-color: var(--nextui-colors-text);
}

/* Brinq Button Group */

.b-button-group {
  border-radius: 12px;
}
.is-active-icon {
  color: var(--nextui-colors-primary);
  border: 1px solid var(--nextui-colors-primary);
  border-radius: 4px;
}

/* Text Editor */
.ProseMirror {
  outline: none;
}
.ProseMirror p {
  font-size: 0.9rem;
}
.ProseMirror ul,
.ProseMirror ol {
  list-style: initial;
  margin-left: 1.5rem;
}
.ProseMirror ol {
  list-style-type: decimal;
}
.text-editor-is-active-button {
  color: var(--nextui-colors-primary);
}
.custom__button {
  margin: 0;
  padding: 0;
  background: transparent;
  background-color: transparent;
}
/* Links */
.bg-overlay-home {
  background-image: radial-gradient(#c336dd3b, #040205);
}
.page-link a {
  text-decoration: none;
  display: inline-block;
  padding: 0.5em;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.page-link a:before,
.page-link a:after {
  position: absolute;
  content: '';
  border-bottom: 3px solid var(--nextui-colors-primary);
  border-radius: 1em;
  bottom: 0.3em;
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.page-link a:before {
  width: 1em;
  transform-origin: left;
}
.page-link a:after {
  width: 100%;
  left: 1em;
  transform: translateX(160%);
}
.page-link a:hover:before {
  transform: scaleX(0.3);
}

.page-link a:hover:after {
  transform: translateX(0);
}
/* Activity */
.activity-card-container .activity-card:not(:first-child):after {
  content: '';
  position: absolute;
  width: 1px;
  border-left: 1px solid;
  left: 21.5px;
  height: 35px;
  top: -36px;
  opacity: 0.2;
}
@media screen and (max-width: 400px) {
  .activity-card-container .activity-card:not(:first-child):after {
    top: -46px;
  }
}
.data-point {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.data-point-xs {
  height: 8px;
  width: 8px;
  border-radius: 50%;
}
